.banner-title{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    color: $primary;
    background-color: rgba($primary, 0.10);
}

.banner-header-text{
    font-size: 68px;
    line-height: 78px;
    font-weight: 600;
    color: #ffffffde;
    margin-top: 25px;
    margin-bottom: 30px;
    span{
        font-style: italic;
        font-weight: 600;
        font-family: 'Lora', serif;
    }
}
.banner-text{
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 35px;
    color: #ffffffde;
}

.banner-left-content{
    position: relative;
    img{
        position: absolute;
        bottom: -100px;
        left: -100px;
    }
}